<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TestPresentTCA.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D58A15A92D4A2C1C000EBB1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D58A15BF2D4A2C1D000EBB1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D58A15FA2D4A4A98000EBB1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
